# Ignore artifacts:
build
coverage

# dependencies
/node_modules
package-lock.json
/prisma

# testing
/coverage

# next.js
/out/

# local env files
.env*.local
.env*
  

# typescript
*.tsbuildinfo
next-env.d.ts